<div id="footer">
    <!-- from the Dept of Comms website -->
<!-- page-footer -->
<div id="page-footer">
  <div class="content">
    <div id="footer-area" class="container_16">
      <div class="grid_16">
        <ul>
          <li>
              <a href="http://www.communications.gov.au/privacy">Privacy</a>
              <a href="http://www.communications.gov.au/copyright">Copyright</a>
          </li>
          <li>
              <a href="http://www.communications.gov.au/disclaimer">Disclaimer</a>
              <a href="http://www.communications.gov.au/resources/site_help#accessibility">Accessibility</a>
          </li>
        </ul>
      </div>
    </div>
  </div><!-- content -->
</div> <!-- page-footer -->
</div>