<div id="header">
    <div id="header-bar">
        <a href="http://www.communications.gov.au">
            <img id="cofa" class="screen-only" width="81px" height="59px" alt="Australian Government Coat of Arms" src="{{ url_for('static', filename = 'img/cofa.png') }}">
            <span id="crest-info" class="clearfix">
                <span id="ausgov">Australian Government</span>
                <span id="deptname">Department of Communications</span>
            </span>
        </a>
    </div>
</div>