{% extends "layout_framework.html" %}

{% block content %}
        <h1>URI Guidelines</h1>
        <h2>The AGLDWG's URI Guidelines Web Service</h2>
        <p>This web page delivers a RESTful web service for the Australian Government Linked Data Working Group's URI Guidelines.</p>
    <!--
<h1>environment.data.gov.au</h1>
    <p><a href="http://data.gov.au"><img src="http://data.gov.au/logos/dga.png" alt="data.gov.au logo" /></a></p>
    <p>This website is part of the <a href="http://data.gov.au">data.gov.au</a> initiative. It is managed by the <strong>Australian Government Linked Data Working Group (AGLDWG)</strong>.</p>
    <p>While this page is the homepage for environment.data.gov.au, the main function of this site is not web page content delivery but persistent identification management for <a href="http://en.wikipedia.org/wiki/Linked_data">Linked Data</a> datasets stored at locations within subsections of environment.data.gov.au according to the AGLDWG's <a href="https://github.com/AGLDWG/TR/wiki/URI-Guidelines-for-publishing-linked-datasets-on-data.gov.au-v0.1">URI guidelines</a>.</p>
    <p>More information will be available here at the start of 2015.</p>
    <p>To contact the managers of this site, please visit <a href="http://data.gov.au">data.gov.au</a> and follow the contact links there.</p>
    -->
{% endblock %}